@font-face {
    font-family: 'luna';
    src: url('../fonts/luna.ttf');
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf');
}

html {
  font-size: 16px;
  font-family: 'Raleway';
}

body {
  margin:0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1f1f1+0,ffffff+50,f1f1f1+100 */
  background: #f1f1f1; /* Old browsers */
  background: -moz-linear-gradient(left, #f1f1f1 0%, #ffffff 50%, #f1f1f1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f1f1f1 0%,#ffffff 50%,#f1f1f1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f1f1f1 0%,#ffffff 50%,#f1f1f1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#f1f1f1',GradientType=1 ); /* IE6-9 */
}

h1 {
  font-family: 'luna';
  font-size: 5rem;
  text-align: center;
  line-height: 1rem;
}

h2 {
  font-family: 'luna';
  font-size: 2rem;
  text-align: right;
}

#letras {
  font-size: 7em;
  line-height: 1.1em;
}

.container1 {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  position: relative;
}

.container1 .photo {
  grid-area: 1 / 1 / 11 / 3;
  -webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  z-index: 3;
  overflow: hidden;
  background-color: black;
}

.container1 .photo img {
  opacity: 0.5;
}

.form1 {
  grid-area: 1 / 2 / 6 / 5;
  -webkit-clip-path: polygon(0 23%, 29% 0, 100% 0, 39% 100%);
  clip-path: polygon(0 23%, 29% 0, 100% 0, 39% 100%);
  background-color: #e0b509;
  z-index: 0;
}

.form2 {
  grid-area: 5 / 1 / 11 / 4;
  background-color: #e0b509;
  -webkit-clip-path: polygon(21% 28%, 82% 0, 100% 100%, 0% 100%);
  clip-path: polygon(21% 28%, 82% 0, 100% 100%, 0% 100%);
  z-index: 2;
}


.form3 {
  grid-area: 3 / 2 / 7 / 4;
  -webkit-clip-path: polygon(21% 28%, 82% 0, 100% 100%, 0% 100%);
  clip-path: polygon(21% 28%, 82% 0, 100% 100%, 0% 100%);
  background-color: #c14d00;
  z-index: 1;
}

.form4 {
  grid-area: 1 / 9 / 4 / 11;
  -webkit-clip-path: polygon(11% 0, 100% 0, 100% 58%, 67% 100%);
  clip-path: polygon(11% 0, 100% 0, 100% 58%, 67% 100%);
  background-color: #9d1a00;
  z-index:1;
}

.form5 {
  grid-area: 9 / 8/ 11 / 11;
  background-color: #e0b509;
  -webkit-clip-path: polygon(0 100%, 100% 0, 100% 100%);
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
  z-index: 2;
}


.form6 {
  grid-area: 2 / 9 / 10 / 11;
  background-color: #e0b509;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 43% 100%, 23% 17%);
  clip-path: polygon(100% 0, 100% 100%, 43% 100%, 23% 17%);
  z-index: 0;
}
.form7 {
  grid-area: 5 / 8 / 10 / 11;
  background-color: #fbea12;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 43% 100%, 23% 17%);
  clip-path: polygon(100% 0, 100% 100%, 43% 100%, 23% 17%);
  z-index: 3;
  opacity: 0.5;
}
.form8 {
  grid-area: 1 / 2 / 5 / 5;
  background-color: #fbea12;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 43% 100%, 23% 17%);
  clip-path: polygon(100% 0, 100% 100%, 43% 100%, 23% 17%);
  z-index: 3;
  opacity: 0.5
}

.sombra {
  grid-area: 9 / 1 / 11 / 11;
  -webkit-clip-path: polygon(100% 100%, 0 100%, 0 34%);
  clip-path: polygon(100% 100%, 0 100%, 0 34%);
  background-color: black;
  opacity: 0.4;
  z-index: 4;
}

.sombra2 {
  grid-area: 9 / 1 / 11 / 11;
  -webkit-clip-path: polygon(100% 100%, 0 100%, 0 34%);
  clip-path: polygon(100% 100%, 0 100%, 0 34%);
  background-color: black;
  opacity: 0.4;
  z-index: 4;
}

.titulo {
  grid-area: 3 / 5 / 9 / 8;
}

.container2 {
  display: grid;
  grid-template: 100% / 18% 64% 18%;
  position: relative;
  background-color: black;
  -webkit-clip-path: polygon(0 0, 100% 16%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 16%, 100% 100%, 0% 100%);
  z-index: 5;
  margin-top: -6%;
  background-image: url('../img/aguila.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: 65%;
}

.contenedor-interno {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-gap: 12px;
  display: grid;
  grid-template: 1fr 4fr / repeat(12, 1fr);
}

.subtitulo {
  grid-area: 2 / 1 / 3 / 6;
  padding-top: 6%;
}

h3 {
  font-family: 'luna';
  font-size: 1.7rem;
  color: white
}

.video {
  grid-area: 3 / 1 / 4 / 7;
  margin-bottom: 10%;
}

.texto {
  grid-area: 3 / 7 / 4 / 13;
  vertical-align: 100%;
  padding-top: 8%;
}

.container2 p {
  color: white;
}

.container3 {
  background-color: #c14d00;
  grid-template: 100% / 18% 64% 18%;
  position: relative;
  display: grid;
  margin-top: 2%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 84%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 84%, 0% 100%);
}

.contenedor-interno {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-gap: 12px;
  display: grid;
  grid-template: 1fr 4fr / repeat(12, 1fr);
}
