
/* FUENTES */
@font-face {
    font-family: 'dusha';
    src: url('../fonts/dusha.ttf');
}

@font-face {
    font-family: 'argo';
    src: url('../fonts/Argo.otf');
}

/*ESTILOS DE ELEMENTOS HTML */

html {
  font-size: 16px;
}

#portada h1 {
  font-size: 11rem;
  font-family: 'dusha';
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px rgba(0,0,0,0.3);
  line-height: 32%;
  text-align:center;
}

#portada h1::first-line {
  font-size: 1.4rem;
  line-height: 8rem;
}

#portada h1 span {
  font-size: 3.5rem;
  line-height: 80%;
}

#portada p {
    color: white;
    text-shadow: 2px 2px rgba(0,0,0,0.3);
    font-size: 1.2rem;
    padding-top: 5%
}

h2 {
	font-family: 'dusha';
	font-size: 35px;
	font-weight: normal;
	color: #0F467D;
	text-transform: uppercase;
}

body {
  background-image: url('../img/fondo.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  font-family: argo;
  color: grey;
  text-align: center;
}

ul {
  list-style-type: none;
}

/*SECCIÓNSUPERIOR*/

#seccionsuperior {
  background-attachment: fixed;
  background-image: url('../img/fondosuperior.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar-inverse {
  	background-color: rgba(0,0,0,0);
    border: none;
  }
.navbar-inverse .navbar-nav>li>a {
  	font-family: 'argo';
  	color: white;
  }
.navbar-brand {
    padding: 0;
    height: 62px;
  }
.bancodebogota {
  height: 46px;
  margin-top: 13px;
}
#logoheader {
  padding: 8px 12px;
}

#menu {
  margin-top: 21px;
}


#sanbacilio {
  margin-top: -19%;
  width: 100%;
}

#portada {
   padding-top: 12%;
}

#nav ul li {
  margin: 6px 6px;
  font-size: 16px;
  margin-bottom: 20px;
}

/*shrink*/

#nav.shrink.navbar-inverse {
    background-color: #0F467D;
    transition: all ease .5s;
    border-bottom: 3px solid #FDCE2C;
}

iframe {
  height: 360px;
  margin-left: 20%;
}

/*SECCIÓNPAQUETES*/


#clientes .container {
  padding: 2%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 0 rgba(50, 50, 50, .3);
  margin-top: 0.5%;
  margin-bottom: 1%;
}

#clientes{
  background-color: #F9F7F4;
  font-size: 1.3em;
}

#seccionpaquetes {
  padding-bottom: 5%;
}

#fondopaquetes {
  background-color: #F9F7F4;
  height: auto;
  margin-top: 40px;
}

.bb-box {
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 0 rgba(50, 50, 50, .3);
  height: 100px;
  width: 102%;
  margin: -2% -1%;
  padding: 10px;
}

#titulopaquetes {
  text-align: center;
}

#contenedor-paquetes {
  margin-top: 50px;
  margin-bottom: 30px;
}

#banderin {
  width: 100%;
  filter: hue-rotate(-152deg) brightness(0.8);
  margin-bottom: 8%;
}

#banderin:hover {
  width: 100%;
  filter: hue-rotate(65deg) brightness(4);
}

#cajaspaquetes {
}

#cajas-paquetes {
  background-color: white;
  box-shadow: 2px 2px 4px 0 rgba(50, 50, 50, .3);
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  height: 136px;
}

.icono {
  color: #FDCE2C;
  margin: 7px;
}

/*SECCIONTOURES*/

#fondotoures {
  background-color: #F9F7F4;
}

#fondotoures2 {
  background-color: white;
}

#titulotoures {
  text-align: center;
}

/*CAROUSEL*/

#carousel_packaques{
  width: 800px;
}

.arrows_packaques {
  padding: 10px;
  text-align: center;
}

.carousel_packaques{
	position: relative;
	padding-top: 40px;
	background-color: white;
}
#carousel_packaques .arrows_packaques {
	right: 0;
	top: 0;
}
#carousel_packaques .arrows_packaques a {
	display: inline-block;
	background: #006F9D center center no-repeat;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
#carousel_packaques .arrows_packaques a:hover{
	background-color: #FDCE2C;
}
#carousel_packaques .arrows_packaques #left_scroll {
	background-image:url(../images/arrow-package-left.png);
	border-radius: 5em 0 0 5em;
}
#carousel_packaques .arrows_packaques #right_scroll {
	background-image:url(../images/arrow-package-right.png);
	border-radius: 0 5em 5em 0;
}


.packagebox{
	vertical-align: top;
	width: 185px;
	background:#0F467D;
	display: inline-block;
	margin:2px;
	margin-bottom: 10px;
	margin-top: 10px;

	cursor: pointer;
	border-radius:0.5em;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
	text-align: center;
}

.packagebox:hover{
	-webkit-box-shadow: 0 0 5px 0 #006F9D;
	box-shadow: 0 0 5px 0 #006F9D;

}

#searchpackages .packagebox{
	margin-left: 5px;
	margin-right: 5px;
}
.packagebox .imagepackage{
	width: 100%;
	height: 300px;
	overflow: hidden;
	position: relative;
	background: url(../images/image-package.png) center center no-repeat #000000;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	-webkit-box-shadow: 0 0 5px 0 #aaaaaa;
	box-shadow: 0 0 5px 0 #aaaaaa;
}

.packagebox .imagepackage img {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.packagebox .imagepackage:hover img{
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);

}
.packagebox .imagepackage img{
	width: 100%;
}
.packagebox h2{
	font-family: 'Oswald', sans-serif;
	margin: 0;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	font-weight: normal;
	color: #006F9D;
	line-height: 18px;
	height: 65px;
	display: table-cell;
	width: 172px;
	vertical-align: middle;
}

.packagebox .packagedetail{
	display: block;
	background: #387ef0;
	padding: 5px;
	font-family: 'argo', sans-serif;
	font-size: 12px;
	color:#FFFFFF ;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
	text-align: right;
	padding-right: 5px;
}
.packagebox .packagedetail:hover{
	background: #FDCE2C;
}

#carousel_flights{
 position: relative;
}

#carousel_flights #left_scroll , #carousel_flights #right_scroll{
	position:absolute;
	background: #D6111A center center no-repeat;
	top:50%;
	margin-top:-40px;
	width: 40px;
	height: 80px;
	z-index: 4;
	opacity: 0.3;
	cursor: pointer;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}
#carousel_flights #left_scroll:hover  , #carousel_flights #right_scroll:hover {
	opacity: 1;
	background-color: #006F9D;
}

#carousel_flights #left_scroll {
	background-image:url(../images/arrow-flights-left.png);
	border-radius: 0 5em 5em 0;
	left: 0;
	margin-left:-5px;
}
#carousel_flights #right_scroll {
	background-image:url(../images/arrow-flights-right.png);
	border-radius: 5em 0 0 5em;
	right: 0;
	margin-right: -5px;
}


.boxflights{
	width: 224px;
	height: 224px;
	position: relative;
	overflow: hidden;
	background:url(../images/image-flights.png) #cccccc  center center no-repeat;
	display: inline-block;
	margin: 5px;
	-webkit-box-shadow: 0 0 5px 0 #aaaaaa;
	box-shadow: 0 0 5px 0 #aaaaaa;
}
.boxflights .captionflights{
	position:absolute;
	width: 224px;
	left: 0;
	bottom: 0;
	background:rgba(255,255,255,0.8);
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	padding-bottom: 5px;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}
.boxflights .captionflights h3{
	font-family: 'Oswald', sans-serif;
	font-size: 15px;
	font-weight: normal;
	color: #006F9D;
	margin: 0px;
	display: table-cell;
	width: 214px;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: middle;
	border-bottom: 1px #CCCCCC solid;
}

.boxflights .captionflights .before{
	font-family: 'Oxygen', sans-serif;
	font-size: 10px;
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
	color: #D6111A;
}

.boxflights .captionflights .before span{
 text-decoration: line-through;
 font-size: 14px;

}

.packagebox .costs .value{
	width: 172px;
	height: 85px;
	display: table-cell;
	vertical-align: top;
	text-align: left;
	padding-left: 8px;
	font-size: 14px;
  font-family: 'argo';
  color: white;
}

#packages_index {
  margin-top: 60px;
  padding: 0;
}

/*traslados*/

#traslados-container {
  background-color: #F9F7F4;
  margin-top:3%;
}

.traslados {
  padding-top: 3%;
  margin-top: 4%;
  margin-bottom: 4%;
  text-align: center;
    transition: all ease .5s;
}

.traslados i {
  text-align: center;
  color: white;
  transition: all ease .5s;
}

.traslados i:hover {
  transform: scale(1.2);
}

.traslados:hover {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5c319+0,ffe877+100 */
background: #e5c319; /* Old browsers */
background: -moz-linear-gradient(top, #e5c319 0%, #ffe877 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #e5c319 0%,#ffe877 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #e5c319 0%,#ffe877 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5c319', endColorstr='#ffe877',GradientType=0 ); /* IE6-9 */
  transform: scale(1.1);
}


.traslados:nth-child(1) {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#15346b+2,206eaa+100 */
background: #15346b; /* Old browsers */
background: -moz-linear-gradient(top, #15346b 2%, #206eaa 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #15346b 2%,#206eaa 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #15346b 2%,#206eaa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15346b', endColorstr='#206eaa',GradientType=0 ); /* IE6-9 */
}
.traslados:nth-child(2) {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#15346b+2,206eaa+100 */
  background: #15346b; /* Old browsers */
  background: -moz-linear-gradient(top, #15346b 2%, #206eaa 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #15346b 2%,#206eaa 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #15346b 2%,#206eaa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15346b', endColorstr='#206eaa',GradientType=0 ); /* IE6-9 */
}
.traslados:nth-child(3) {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#15346b+2,206eaa+100 */
  background: #15346b; /* Old browsers */
  background: -moz-linear-gradient(top, #15346b 2%, #206eaa 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #15346b 2%,#206eaa 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #15346b 2%,#206eaa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15346b', endColorstr='#206eaa',GradientType=0 ); /* IE6-9 */
}

.traslados h3 {
  color: white;
  font-family: dusha;
  font-size: 1.4rem;
}

.traslados h5 {
  color: white;
  font-family: argo;
  font-size: 1rem;
}

/*Footer*/

#footer .container {
  background-color: #0F467D;
  border-right: 3px solid #FDCE2C;
  border-left: 3px solid #FDCE2C;
  padding-top: 2%;
}


.contact p {
  font-family: 'dusha';
  font-size: 2.5rem;
  text-transform: uppercase;
  color: white;
  text-shadow: 2px 2px rgba(0,0,0,0.3);
}

.informacion {
  margin: 1% auto;
  padding: 1%;
}

.informacion p {
  color: white;
  font-size: 0.8rem;
  text-align: center;
}

@media only screen and (min-width: 320px) and (max-width: 740px) {
  html {
    font-size: 12px;
  }

  #portada {
    padding-top: 40%;
  }

  #portada h1::first-line {
    font-size: 1.2rem;
    line-height: 4rem;
  }

  #portada h1 {
    font-size: 7rem;
    line-height: 4rem;
  }

  iframe {
    width: 290px;
    margin-left: 7%;
    height: auto;
  }

  .informacion p {
    font-size: 1.3rem;
  }
  .navbar-brand {
      padding: 0;
      height: 60px;
    }
  .bancodebogota {
    height: 50px;
    margin-top: -8px;
  }
  #sanbacilio {
    margin-top: 10%;
  }


@media only screen and (min-width: 741px) and (max-width:991px) {
  #sanbacilio {
    margin-top: 0;
  }

  iframe {
    margin-left: 4%;
  }
  .navbar-brand {
      padding: 0;
      height: 55px;
    }
  .bancodebogota {
    height: 40px;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  html {
    font-size: 16px;
  }

  #portada h1::first-line {
    font-size: 1.3rem;
    line-height: 5rem;
  }

  #portada h1 {
    font-size: 6rem;
    line-height: 3.5rem;
  }

  #portada h1 span {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  iframe {
    width: 500px;
    margin-left: 17%;
  }

  #sanbacilio {
    margin-top: 0;
  }
}
